*{
  margin: 0;
  padding: 0;
}

/* Header */
header {
  display: flex;
  align-items: center;
  width: 100%;
  position: sticky;
  background-color: #f4fffb;
  color: #03898e;
  border: 1px solid #03898e;
  justify-content: space-between;

}

.carrito {
  padding-right: 24px;
}


.navUno {
  display: flex;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logoPrincipal {
  max-width: 100px;
}

nav ul {
  display: flex;
  margin-bottom: 0px;
  padding-left: 0px;
  justify-self: center;
  width: 100%;
}

nav ul li { 
  text-decoration: none; 
  list-style-type: none;
  
} 


nav ul li a.nav-link {
  text-decoration: none;
  color: #03898e;
}

nav ul li a.nav-link:hover {
  text-decoration: none;
  color:black;
}

nav ul li a.nav-link.active {
  text-decoration: none;
  color:#03898e;
  text-decoration: underline;
}

/* Button */

.addCart {
  display: flex;
}

button {
  background-color: #f4fffb;
  color: #03898e;
  border: 1px solid #03898e;
  margin-left: 10px;
}