*{
  margin: 0;
  padding: 0;
}

/* Header */
header {
  align-items: center;
  width: 100%;
  background-color: #f4fffb;
  color: #03898e;
  border: 1px solid #03898e;
}

.logoPrincipal {
  max-width: 100px;
}

.divBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px;
}
